<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="From" value="Sample@gmail.com"/>
    <add key="Password" value="password@123"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-MvcMovie-fefdc1f0-bd81-4ce9-b712-93a062e01031;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcMovie-fefdc1f0-bd81-4ce9-b712-93a062e01031.mdf" providerName="System.Data.SqlClient" />
    <add name="EmailMaster" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=EmailMaster;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmailMaster;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->
  </connectionStrings>
</configuration>